<% let name = firstName; %>
<h1> Hello Sibusiso Makhiwane, <%= firstName %> </h1>

<% layout('layout') %>

<h1>Welcome to the Recipe App</h1>
<p>This app helps you manage and explore delicious recipes!</p>
